{% extends 'layout.html.twig' %}

{% block stylesheets %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
  {{ parent() }}
{% endblock %}

{% block header %}
  {{ include('header.html.twig') }}
{% endblock %}

{% block content %}
  <main id="main-container" class="container-fluid main-flex" role="main">
  <div class="front-container-flex">
  <article id="search_box" class="frontPageBox">
    <div class="searchBoxImage">
      <div class="form-block">
        <div class="inner-block">
          <h1 class="title-block">Create your own trip.</h1>
          {{ include('search.html.twig') }}
          </div><!-- inner-block -->
        </div><!-- form-block -->
      </div><!-- searchBoxImage -->
    </article>
  </div><!-- front-container-flex -->
  </main>
  <!-- The Modal -->
<div class="modal fade" id="modalLogin">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ include('footer.html.twig') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#appbundle_searchtrip_destination").select2({placeholder: 'Country'});
      $('b[role="presentation"]').hide();
      $('.js-datepicker').datepicker({orientation: 'bottom'});
    });
  </script>
  <script type="text/javascript">
      $('.connect-modal').on('click', function(e){
          e.preventDefault();
          $('#modalLogin').modal('show').find('.modal-content').load($(this).attr('href'));
      });
  </script>
{% endblock %}
